<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>au.edu.vic.woodleigh.assetcache-exporter</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/assetcache-exporter</string>
    <string>--web.listen-address=:9200</string>
  </array>
  <key>UserName</key>
  <string>_assetcache</string>
  <key>GroupName</key>
  <string>_assetcache</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
</dict>
</plist>
